# Server Configuration
PORT=<port_number>
NODE_ENV=<development_or_production>

# CORS Configuration
CLIENT_URL=<your_client_app_url_here>

# JWT Configuration
JWT_SECRET=<your_super_secret_key_change_this_in_production>
JWT_EXPIRES_IN=<session_duration_in_seconds_or_string>

# OMDB API
OMDB_API_KEY=<your_omdb_api_key_here>
OMDB_API_URL=https://www.omdbapi.com/
