# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
CLIENT_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_EXPIRES_IN=<session_duration_in_seconds_or_string>

# OMDB API
OMDB_API_KEY=your_omdb_api_key_here
OMDB_API_URL=https://www.omdbapi.com/
