:root {
  --Primary-Color-Blue-400: hsl(180, 66%, 49%);
  --Primary-Color-Purple-950: hsl(257, 27%, 26%);
  --Secondary-Color-Red-400: hsl(0, 87%, 67%);
  --Neutral-Color-Gray-400: hsl(0, 0%, 75%);
  --Neutral-Color-Gray-500: hsl(257, 7%, 63%);
  --Neutral-Color-Gray-900: hsl(255, 11%, 22%);
  --Neutral-Color-Gray-950: hsl(260, 8%, 14%);
}

/* Resets & Commons */
body {
  font-family: "Poppins", sans-serif;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btn-main {
  background-color: var(--Primary-Color-Blue-400);
  color: #fff;
}

.btn-main:hover {
  background-color: var(--Primary-Color-Blue-400);
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
/* End of Resets & Commons */

/* Section 1 */
.section-1 h1 {
  color: var(--Neutral-Color-Gray-950);
}
.section-1 p,
.section-2 .section-2-content p {
  color: var(--Neutral-Color-Gray-500);
  width: 450px;
}
/* End of Section 1 */

/* Section 2 */
.section-2 {
  background-color: #f8f9fa;
}
.section-2 .shortner {
  /* height: 150px; */
  background-color: var(--Primary-Color-Purple-950);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  border-radius: 10px;
  gap: 20px;
  background: url("../images/bg-shorten-desktop.svg")
    var(--Primary-Color-Purple-950);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2 .shortner input.invalid {
  border: 2px solid var(--Secondary-Color-Red-400);
}

.section-2 .shortner input.invalid::placeholder {
  color: var(--Secondary-Color-Red-400);
  opacity: 0.75;
}

.section-2 .shortner input + .error {
  color: var(--Secondary-Color-Red-400);
  font-style: italic;
}

.section-2 .shortner .btn {
  width: 170px;
}

.section-2 .shorten-links {
  margin-top: 25px;
}

.section-2 .shorten-links li {
  background-color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-2 .shorten-links .created-link {
  text-decoration: none;
  color: var(--Primary-Color-Blue-400);
  margin-right: 25px;
}

.section-2 .cards {
  height: 350px;
  position: relative;
}

.section-2 .cards::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 10px;
  background-color: var(--Primary-Color-Blue-400);
}

.section-2 .cards .connect-line {
  width: 80%;
  height: 10px;
  background-color: var(--Primary-Color-Blue-400);
  position: absolute;
  transform: translate(50%);
}

.section-2 .cards > div {
  height: 80%;
}

.section-2 .cards > div:nth-child(1) {
  align-self: flex-start;
}

.section-2 .cards > div:nth-child(3) {
  align-self: flex-end;
}

.section-2 .cards .card {
  height: 100%;
  border: 0;
  background-color: #fff;
  box-shadow: 1px 2px 2px #ccc;
}

.section-2 .cards .img-wrapper {
  background-color: var(--Primary-Color-Purple-950);
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.section-2 .cards .card-title {
  color: var(--Neutral-Color-Gray-950);
  margin-bottom: 15px;
}
.section-2 .cards p {
  color: var(--Neutral-Color-Gray-500);
  line-height: 2;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
  background-color: var(--Primary-Color-Purple-950);
  background: url("../images/bg-shorten-desktop.svg")
    var(--Primary-Color-Purple-950);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-3 h4 {
  color: #f8f9fa;
}
/* End of Section 3 */

/* Footer */
footer {
  background-color: var(--Neutral-Color-Gray-950);
}

footer h4,
footer b,
footer .socials a {
  color: #f8f9fa;
}

footer .nav-link {
  color: #aaa;
}

footer .nav-link:hover {
  color: var(--Primary-Color-Blue-400);
}

footer .socials {
  justify-content: end;
}
/* End of Footer */

/* Responsives */
@media (max-width: 1000px) {
  .section-2 .section-2-content p {
    width: 350px;
  }

  .section-1 .row > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-1 h1 {
    text-align: center;
  }

  .section-1 p {
    text-align: center;
    width: 100%;
  }

  .section-2 .shortner {
    border-radius: 0;
    flex-direction: column;
  }

  .section-2 .shortner .btn {
    width: 100%;
  }

  .section-2 .shorten-links li {
    padding: 15px 20px;
    flex-direction: column;
    gap: 20px;
  }

  .section-2 .shorten-links .right {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .section-2 .shorten-links .left,
  .section-2 .shorten-links .right {
    width: 100%;
  }

  .section-2 .cards {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .section-2 .cards > div {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }

  .section-2 .card {
    width: 100%;
  }

  .section-2 .cards > div:nth-child(1),
  .section-2 .cards > div:nth-child(3) {
    align-self: center;
  }

  .section-2 .cards::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translateX(-50%) rotate(90deg);
    width: 80vh;
    height: 10px;
    background-color: var(--Primary-Color-Blue-400);
  }

  footer {
    text-align: center;
  }

  footer .row > div {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  footer .socials {
    justify-content: center;
  }
}
/* End of Responsives */
