/* Resets & Commons */
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.pad {
  padding: 3rem 14rem;
}

/* End of Resets & Commons */

/* Header */
header {
  width: 100%;
  border-bottom: 0.1rem solid #ddd;
  /* margin-bottom: 3rem; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .logo img {
  width: 16rem;
}

nav .logo .lead {
  font-size: 1.5rem;
  color: #6c757d;
}

.nav-links,
.social-links {
  display: flex;
  /* border: 0.1rem solid red; */
}

.nav-link,
.social-link {
  font-size: 1.7rem;
}

.nav-link {
  margin-right: 4rem;
}

.nav-link a {
  color: #0096c7;
}

.nav-link a:hover {
  color: #fca311;
  transition: color 0.3s ease;
}

.nav-link:nth-child(2) {
  position: relative;
}

.nav-link i {
  margin-left: 0.5rem;
}

.nav-sub-links {
  position: absolute;
  top: 4rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0.1rem 0.2rem 1rem #ddd;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.nav-link:nth-child(2):hover .nav-sub-links {
  opacity: 1;
  visibility: visible;
}

.nav-link:nth-child(2):focus-within .nav-sub-links {
  opacity: 1;
  visibility: visible;
}

.nav-sub-link {
  width: 100%;
  display: flex;
  border-bottom: 0.1rem solid #ddd;
  font-size: 1.5rem;
}

.nav-sub-link a {
  width: 100%;
  padding: 1.4rem;
}

.social-link {
  margin-right: 3rem;
}

.social-link a {
  color: #212529;
}

/* End of Header */

/* Main */
main {
  width: 100%;
  background: #f8f9fa;
}

.section-1 {
  display: flex;
  justify-content: space-between;
  /* padding: 3rem 0; */
}

.section-1 h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-form-section form {
  width: 50rem;
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  /* justify-content: s; */
  align-items: flex-start;
}

.contact-form-section form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.contact-form-section form label {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.contact-form-section form input,
.contact-form-section form textarea {
  border: 0.1rem solid #aaa;
  background: #fff;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.contact-form-section form input:focus,
.contact-form-section form textarea:focus {
  outline: none;
  border: 0.1rem solid #0096c7;
  transition: 0.3s ease-in;
}

.contact-form-section form textarea {
  resize: vertical;
  min-height: 10rem;
  max-height: 20rem;
}

.contact-form-section form .submit-btn {
  width: 15rem;
  padding: 2.5rem 0;
  border: 0;
  border-radius: 8rem;
  background: #fca311;
  color: #222;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.company-details-section {
  width: 60rem;
}

.company-details-section p {
  font-size: 2rem;
  color: #888;
  font-weight: 600;
  line-height: 1.8;
}

.company-details-section img {
  width: 100%;
}
/* End of Main */

/* Footer */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9ecef;
  font-size: 2rem;
  color: #666;
}
/* End of Footer */
